<strong>
  Olá {{ user }}
</strong>
<p>Houve uma inscrição na sua Meetup, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
</p>
